.alt-tab-switcher {
    background-color: rgba(0, 0, 0, 0.5);
}

.alt-tab-switcher-gradient-top {
    background-gradient-start: rgba(0, 0, 0, 0);
    background-gradient-end: rgba(255, 255, 255, 0.8999999999999);
    background-gradient-direction: vertical;
}

.alt-tab-switcher-gradient-bottom {
    background-gradient-start: rgba(255, 255, 255, 0.9);
    background-gradient-end: rgba(255, 255, 255, 1);
    background-gradient-direction: vertical;
}

.alt-tab-window-title-label {
    font-weight: bold;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
    text-shadow: rgba(255,255,255,0.3) 0px 1px 0px;
}

.alt-tab-workspace-title-label {
    color: rgba(0,0,0,0.8);
    font-size: 18px;
    text-shadow: rgba(0,0,0,0.3) 0px 1px 0px;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.alt-tab-app-icon-box {
    width: 56px;
    height: 56px;
    background: rgba(0,0,0,0.8);
    border: 1px solid rgba(128,128,128,0.40);
    border-radius: 10px;
}

.alt-tab-workspace-indicator {
	background-image: url("light.svg");
}

.alt-tab-preview-indicator {
	background-image: url("light.svg");
}

