.alt-tab-switcher {
    background-color: rgba(0, 0, 0, 0.5);
}

.alt-tab-switcher-gradient-top {
    background-gradient-start: rgba(0, 0, 0, 0);
    background-gradient-end: rgba(255, 255, 255, 0.8999999999999);
    background-gradient-direction: vertical;
}

.alt-tab-switcher-gradient-bottom {
    background-gradient-start: rgba(255, 255, 255, 0.9);
    background-gradient-end: rgba(255, 255, 255, 1);
    background-gradient-direction: vertical;
}

.alt-tab-window-title-label {
    font-weight: bold;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
	text-decoration: blink;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.alt-tab-workspace-title-label {
    color: rgba(0,0,0,0.8);
    font-size: 18px;
    text-shadow: rgba(0,0,0,0.3) 0px 1px 0px;
    text-align: center;
    padding: 20px 20px 20px 20px;
	text-decoration: blink;
	text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
}

.alt-tab-workspace-indicator {
	background-image: url("workspace-indicator.svg");
}

.alt-tab-switch-actor-indicator {
	border-radius: 8px 8px 8px 8px;
	border: 8px solid rgba(226,226,226,0.5);
}

